@charset "utf-8";

html{
	color: #000;
	background: #fff;
}
* {
	margin: 0;
	padding: 0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
a {
	text-decoration: none;
	color: #000000;
}
em,strong,b,u,i {
	font-style:normal;
	font-weight: normal;
}
ol,ul {
	list-style: none;
}
h1,h2,h3 {
	font-size: 100%;
	font-weight: normal;
}
input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-size: 100%;  /*to enable resizing for IE*/
}
img {
	border: 0 none; /* 给图片去掉边框 兼容性是最好的 */
}
input {
	border: none;
}


/*导航栏*/
.nav{
	width: 100%;
	min-width: 1000px;
	height: 80px;
	background: #000;
}
.nav_con {
	width: 1000px;
	margin: 0 auto;
}
.nav_con h1{
	float: left;
	width: 200px;
	height: 80px;
	margin-left: 60px;
}
.nav_con h1 a{
	width: 200px;
	height: 80px;
	font:normal 35px arial;
	color:#BFBFBF;
	text-align: center;
	line-height: 80px;
}
.nav_con .nav_ul{
	float: left;
	width: 720px;
	margin-left: 10px;
}
.nav_con .nav_ul li{
	float: left;
	width: 110px;
	height: 80px;
}
.nav_con .nav_ul li a{
	display: block;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	color: #AEAEAE;
	margin-left: 20px;
}
.nav_con .nav_ul li a:hover{
	background: #FFA703;
	color: #000;
}

/*banner区域*/
.banner{
	width:100%;
	min-width: 1000px;
	height: 420px;
	background: url(../img/tail-top.jpg);
	background-size:100% 100%;
}
.banner_con{
	width: 1000px;
	margin: 0 auto;
}
.banner_con .banner_left{
	float: left;
	margin: 0px 50px 0px 60px;
	width: 175px;
	height: 420px;
}
.banner_con .banner_left ul{
	margin-top: 50px;
}
.banner_con .banner_left ul li{
	width: 176px;
	height: 90px;
	margin-bottom: 30px;
	border: 1px solid #fff;
	background: #fff;
	border-radius: 10px;
}
.banner_con .banner_left ul li img{
	width: :166px;
	height: 81px;
	margin: 4px 5px;
	border: 1px solid #fff;
	border-radius: 5px;
}
.banner_con .banner_right{
	float: left;
	width: 645px;
	height: 420px;
}
.banner_con .banner_right ul{
	width: 645px;
	height: 33px;
}
.banner_con .banner_right ul li{
	float: left;
	width: 115px;
	height: 33px;
	margin-right: 8px;
	margin-top: 10px;
	text-align: center;
	background: #000;
	border:1px solid #000;
	border-radius: 10px;
	opacity: 0.6;
	filter: alpha(opacity=0.6);
}
.banner_con .banner_right ul li a{
	color: #fff;
	height: 33px;
	line-height: 33px;
}
.banner_con .banner_right ul li a:hover{
	color: #ffc531;
}
.banner_con .banner_right .show{
	width: 645px;
	height: 332px;
	border: 1px solid #fff;
	border-radius: 10px;
	background: #fff;
	margin-top: 20px;
}
.banner_con .banner_right .show img{
	width: 635px;
	height: 322px;
	border: 1px solid #fff;
	border-radius: 10px;
	margin: 4px 4px;
}

/*瞎写*/
.aside{
	width: 100%;
	min-width: 1000px;
	height: 320px;
	background: #000;
}
.aside_con{
	width:1000px;
	margin: 0 auto;
}
.aside_con .aside_left{
	float: left;
	width: 180px;
	height: 320px;
	margin-right: 50px;
	margin-left: 60px;
	position: relative;
}
.aside_con .aside_left h2{
	width: 180px;
	height: 40px;
	color: #fff;
	font:normal 20px/40px "微软雅黑";
}
.aside_con .aside_left ul{
	width: 200px;
	height: 120px;
	margin-bottom: 30px;
	margin-top: 10px;
}
.aside_con .aside_left ul li{
	list-style-image: url(../img/marker.gif);
	margin-left: 12px;
}
.aside_con .aside_left ul li a{
	color: #ffc531;
	line-height: 30px;
	text-decoration: underline;
}
.aside_con .aside_left ul li a:hover{
	text-decoration: none;
}
.aside_con .aside_left img{
	position: absolute;
	left: -50px;
}
.aside_con .aside_center{
	float: left;
	width: 348px;
	height: 320px;
	margin-right: 50px;
}
.aside_con .aside_center h2{
	width: 348px;
	height: 40px;
	color: #fff;
	font:normal 20px/40px "微软雅黑";
	margin-bottom: 10px;
}
.aside_con .aside_center p{
	color: #fff;
	margin-top: 20px;
}
.aside_con .aside_right{
	float: left;
	width: 223px;
	height: 320px;
}
.aside_con .aside_right h2{
	width: 223px;
	height: 40px;
	color: #fff;
	font:normal 20px/40px "微软雅黑";
	margin-left: 10px;
}
.aside_con .aside_right ul li{
	margin-bottom: 20px;
	color: #fff;
	list-style-type: circle;
	margin-left: 15px;
	line-height: 25px;
}
.aside_con .aside_right ul li a{
	color: #ffc531;
}
.aside_con .aside_right ul li a:hover{
	text-decoration: underline;
}
.aside_con .aside_right p{
	color: #fff;
	font: normal 14px "微软雅黑";
	margin-top: 30px;
}
.aside_con .aside_center .aside_c_top{
	width: 348px;
	height: 94px;
}
.aside_con .aside_center .aside_c_top img{
	display: inline-block;
	width: 136px;
	height: 94px;
	float: left;
}
.aside_con .aside_center .aside_c_top span{
	color: #FFFFFF;
	display: inline-block;
	width: 195px;
	float: left;
	font: normal 12px "微软雅黑";
	margin-left: 17px;
}
.aside_con .aside_center .aside_c_top span i{
	float: right;
	color: #ffc531;
}
.aside_con .aside_center .aside_c_bottom{
	height: 140px;
	width: 348px;
	margin-top: 30px;
}
.aside_con .aside_center .aside_c_bottom p{
	color: #fff;
	font: normal 15px "微软雅黑";
}

.aside_con .aside_aside{
	float: left;
	right: 0;
	width: 645px;
	height: 320px;
}
.aside_con .aside_aside h2{
	color: #fff;
	font:normal 20px/40px "微软雅黑";
	margin-bottom: 10px;
}
.aside_con .aside_aside p{
	color: #fff;
	width: 645px;
	height: 220px;
	line-height: 40px;
}
.aside_con .aside_privacy{
	margin-left: 60px;
	width: 875px;
}
.aside_con .aside_privacy h2{
	color: #fff;
	font:normal 20px/40px "微软雅黑";
	margin-bottom: 10px;
}
.aside_con .aside_privacy p{
	color: #fff;
	font: normal 14px "微软雅黑";
}
.aside_con .aside_contact{
	width: 645px;
	height: 320px;
	margin-left: 290px;
}
.aside_con .aside_contact h2{
	color: #fff;
	font:normal 20px/40px "微软雅黑";
	margin-bottom: 10px;
}
.aside_con .aside_contact form{
	color: #fff;
	line-height: 30px;
}
.aside_con .aside_contact input{
	border: 1px solid #fff;
	background: none;
	margin-left: 20px;
	width: 300px;
	margin-top: 5px;
}
.aside_con .aside_contact textarea{
	border: 1px solid #fff;
	background: none;
	margin-left: 20px;
	width: 300px;
	height: 100px;
	margin-top: 5px;
	vertical-align: top;
}
.aside_con .aside_contact a{
	color: #ffc531;
	font: normal 14px "微软雅黑";
	display: block;
	width: 50px;
	height: 20px;
	text-align: center;
	margin-left: 200px;
	margin-top: 30px;
}

/*底部*/
.footer{
	width: 100%;
	min-width: 1000px;
	height: 100px;
	background: url(../img/tail-bottom.jpg);
	background-size: 100% 100%;
}
.footer p{
	font: normal 12px "微软雅黑";
	color: #fff;
	text-align: center;
	padding-top: 50px;
}
.footer p a{
	font: normal 12px "微软雅黑";
	color: #ffc531;
}
